.App {
    text-align: center;
    background-color: #282c34;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#error-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: white;
}
